/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
}

:root {
  --green-color: #3cb815;
  --light-green-color: #c0eb7b;
  --orange-color: #ff7e00;
  --light-orange-color: #f75f1d;
  --text-color: #1a2428;
  --bg-color: #fff;
  overflow-x: hidden !important;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 20px;
}

::-webkit-scrollbar-thumb {
  height: 20px;
  width: 0.5rem;
  background: var(--green-color);
  border-radius: 5rem;
}

.bx-search {
  font-size: 84px;
  cursor: pointer;
} */

